[submodule "jaylib"]
	path = jaylib
	url = https://github.com/sogaiu/jaylib
[submodule "janet"]
	path = janet
	url = https://github.com/janet-lang/janet
[submodule "janet-usages-as-tests"]
	path = janet-usages-as-tests
	url = https://github.com/sogaiu/janet-usages-as-tests
